.rating-card{
    background-color: var(--primary-color-1);
    width: calc(100%/4);
    margin-right: 16px;
    padding: 16px;
    border-radius: 16px;
}

.rating-card p{
    color: #fff;
}

.rating-card i{
    margin-left: 8px;
    color: var(--primary-color-2);
}

.rating-info{
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.rating-info > img{
    width: 40%;
    border-radius: 8px;
}

.rating-info > p{
    width: 60%;
    font-weight: 600;
    text-align: center;
}

.rating-desc{
    margin-top: 24px;
    font-weight: 300;
}