:root{
  --primary-color-1: #495E57;
  --primary-color-2: #F4CE14;
  --secondary-color-1: #FBDABB;
  --secondary-color-2: #EE9972;
  --background-color: #EDEFEE;
  --title-color: #1C3409;
}

/* reset css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 18px;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6,li,a{
  font-family: "Markazi Text", serif;
}

p,label,input,span{
  font-family: "Karla", sans-serif;;
}

.app-section{
  padding: 64px 40px;
}

